.encabezado {
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: thistle;
    margin: 15px;
    padding: 23px;
    border-radius: 25px;
}

.cuerpo {
    color: green;
    text-align: justify;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    background-color: lavender;
    margin: 15px;
    padding: 23px;
    border-radius: 25px;
}

.imagen {
    background-image: url('../img/mi-imagen.jpg');
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
